<article class="post">
  <a href="/post/{{id}}">
  <div class="title">
    <h3>{{title}}</h3>
    <p>{{user.username}} on {{format_date created_at}}</p>
  </div>
  </a>
  <div class="meta">
    <p>{{post_text}}</p>
  </div>
</article>